.about {
  background-image: url("../img/about-bg.png");
  background-size: contain;
  background-position: 190px -20px;
  background-repeat: no-repeat;
  padding-bottom: 109px;
}

@media (max-width: $desktop-width - 1) {
  .about {
    background-image: url("../img/about-bg-tablet.png");
    background-size: contain;
    background-position: 248px 92px;
    background-repeat: no-repeat;
    padding-bottom: 82px;
  }
}

@media (max-width: $tablet-width - 1) {
  .about {
    background-image: url("../img/about-bg-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 63px;
  }
}
