.btn {
  @include clear-link;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $c-text-white;
  background-color: transparent;
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 14px;
  padding-left: 27px;
  border: 1px solid $bg-white;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $bg-blue;
  }

  &:active {
    color: $bg-social-hov;
    transform: scale(0.99);
  }
}
