.hero-unit {
  position: relative;
  background-image: url("../img/hero-desktop@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1b2931;
  color: $c-text-white;
  padding-top: 353px;
  padding-bottom: 277px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-desktop@2x.png");
  }
}

.hero-unit__container {
  position: relative;
  max-width: 1411px;
  margin: 0 auto;
  z-index: 1;
}

.hero-unit__title {
  @include clear-mp;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.hero-unit__descr {
  @include clear-mp;
  position: relative;
  font-family: "PTMono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  width: 50%;
  padding-left: 93px;
  margin-bottom: 43px;

  &::before {
    position: absolute;
    content: "";
    top: 16px;
    left: 0;
    width: 65px;
    height: 2px;
    background-color: $bg-white;
  }
}

.hero-unit__btn {
  background-color: $bg-blue;
  border: none;
  padding: 17px 43px;
  margin-left: 95px;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    opacity: 0.9;
  }
}

.hero-unit__btn-mobile {
  display: none;
}

.hero-unit__scroll {
  @include clear-link;
  @include clear-mp;
  position: absolute;
  bottom: -150px;
  left: -40px;
  color: $c-text-white;
  font-family: "PTMono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  transform: rotate(-90deg);
}

.hero-unit__picture {
  position: absolute;
  top: -197px;
  right: -78px;
  width: 713px;
  height: 655px;
  background: url("../img/hero-desktop-img@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-desktop-img@2x.png");
  }
}

@media (max-width: $desktop-width - 1) {
  .hero-unit {
    padding-top: 238px;
    padding-bottom: 163px;
    background-image: url("../img/hero-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.png");
    }
  }

  .hero-unit__container {
    max-width: 592px;
  }

  .hero-unit__title {
    width: 50%;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
    margin-bottom: 28px;
  }

  .hero-unit__descr {
    width: 70%;
    padding-left: 51px;
    margin-bottom: 58px;
    font-size: 18px;
    line-height: 1.5;

    &::before {
      top: 18px;
      left: 3px;
      width: 33px;
    }
  }

  .hero-unit__btn {
    padding: 17px 31px;
    margin-left: 51px;
  }

  .hero-unit__scroll {
    display: none;
  }

  .hero-unit__picture {
    position: absolute;
    top: -154px;
    right: -300px;
    width: 540px;
    height: 488px;
    background: url("../img/hero-tablet-img@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet-img@2x.png");
      background-size: 100%;
      right: -299px;
      top: -158px;
    }
  }
}

@media (max-width: $tablet-width - 1) {
  .hero-unit {
    padding-top: 366px;
    padding-bottom: 69px;
    background-image: url("../img/hero-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.png");
    }
  }

  .hero-unit__title {
    width: 50%;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.07em;
    margin-bottom: 25px;
  }

  .hero-unit__descr {
    width: 100%;
    padding-left: 51px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.6;

    &::before {
      top: 18px;
      left: 3px;
      width: 33px;
    }
  }

  .hero-unit__btn {
    font-size: 0;
    padding: 15px 31px;
    margin-left: 0;
    width: 100%;
  }

  .hero-unit__btn-mobile {
    display: inline;
    font-size: 16px;
    letter-spacing: 0.05em;
  }

  .hero-unit__picture {
    position: absolute;
    top: -302px;
    right: -261px;
    background: url("../img/hero-mobile-img@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile-img@2x.png");
      background-size: 118%;
      top: -304px;
    }
  }
}
