.main-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 96px;
}

.main-nav__btn {
  margin-left: 49px;
  margin-top: 1px;
}

.main-nav__telephone,
.main-nav__email {
  @include clear-link;
  display: flex;
  align-items: center;
  color: $c-text-white;
  font-family: "PTMono", "Consolas", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__telephone {
  margin-left: 86px;
}

.main-nav__phone-svg {
  margin-right: 15px;
}

.main-nav__email-svg {
  margin-right: 20px;
}

.main-nav__toggle {
  position: relative;
  margin-right: auto;
  width: 40px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 18px;
    right: 0;

    width: 37px;
    height: 1px;

    background-color: $bg-white;

    &:active::before {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  &::after {
    top: 28px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-nav {
    width: auto;
  }

  .main-nav__toggle {
    margin-right: 300px;
  }

  .main-nav__telephone {
    min-width: 40px;
  }

  .main-nav__email {
    min-width: 40px;
  }
}

@media (max-width: 1200px) {
  .main-nav {
    padding-left: 50px;
  }
}

@media (max-width: $desktop-width - 1) {
  .main-nav__btn {
    display: none;
  }

  .main-nav__telephone,
  .main-nav__email {
    font-size: 0;
  }

  .main-nav__telephone {
    margin-left: 18px;
  }

  .main-nav__email {
    margin-left: 39px;
  }

  .main-nav__phone-svg {
    margin-right: 0;
  }

  .main-nav__email-svg {
    margin-right: 20px;
  }

  .main-nav__toggle {
    margin-right: 0;

    &::before,
    &::after {
      top: 7px;
    }

    &::after {
      top: 19px;
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main-nav__toggle {
      margin-right: 0;
    }
  }
}

@media (max-width: $tablet-width - 1) {
  .main-nav__telephone {
    margin-left: 8px;
  }

  .main-nav__email {
    margin-left: 30px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1500px) {
  .main-nav__toggle {
    margin-right: 100px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1200px) {
  .main-nav {
    padding-left: 0;
  }

  .main-nav__toggle {
    margin-right: 20px;
  }

  .main-nav__telephone {
    min-width: auto;
  }

  .main-nav__email {
    min-width: auto;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1024px) {
  .main-nav__toggle {
    margin-right: 0;
  }
}
