.offers {
  background-color: #1b2d37;
  padding-bottom: 102px;
}

.offers__list {
  @include clear-mp;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offers__item {
  @include clear-mp;
  @include clear-list;
  width: 31.5%;
  height: 620px;
  margin-bottom: 25px;
  margin-right: 25px;

  & img {
    height: 100%;
  }
}

.offers__item:nth-child(3n+3) {
  margin-right: 0;
  break-after: always;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__title {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $c-text-white;
  margin-top: 89px;
  margin-bottom: 51px;
}

@media (max-width: $desktop-width - 1) {
  .offers {
    padding-bottom: 32px;
  }

  .offers__title {
    font-size: 32px;
    line-height: 140.62%;
    margin-top: 50px;
    margin-bottom: 49px;
    padding-right: 94px;
  }

  .offers__list {
    @include clear-mp;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .offers__item {
    margin-right: 0;
    width: 100%;
    height: 256px;
    margin-bottom: 46px;
  }
}

@media (max-width: $tablet-width - 1) {
  .offers {
    padding-bottom: 32px;
  }

  .offers__title {
    font-size: 28px;
    line-height: 140.62%;
    padding-right: 0;
    padding-left: 10px;
    margin-bottom: 41px;
  }

  .offers__item {
    margin-bottom: 30px;
  }
}
