.sections__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 120px;
}

@media (max-width: $desktop-width - 1) {
  .sections__list {
    flex-wrap: nowrap;
    height: auto;
    margin-left: -2px;
  }
}
