.sections__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 120px;
}

.sections__item {
  max-width: 240px;
}

.sections__item:nth-child(5),
.sections__item:nth-child(6),
.sections__item:nth-child(7),
.sections__item:nth-child(8) {
  margin-left: -128px;
}

@media (max-width: 1300px) {
  .sections__list {
    // height: 330px;
  }

  .sections__item:nth-child(5),
  .sections__item:nth-child(6),
  .sections__item:nth-child(7),
  .sections__item:nth-child(8) {
    margin-left: 0;
  }
}

@media (max-width: $desktop-width - 1) {
  .sections__list {
    flex-wrap: nowrap;
    height: auto;
    margin-left: -2px;
  }

  .sections__item {
    width: auto;
  }
}

@media (max-width: $tablet-width - 1) {
  .sections {
    border-bottom: 1px solid #dcdddc;
  }

  .sections__title {
    height: 74px;
    margin: 0;
  }

  .sections__list {
    padding-bottom: 25px;
  }
}
