.social__list {
  @include clear-mp;
  display: flex;
  justify-content: flex-start;
}

.social__item {
  @include clear-list;
  margin-right: 14px;
}

.social__link {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $desktop-width - 1) {
  .social__item:last-child {
    margin-right: 0;
  }
}

@media (max-width: $tablet-width - 1) {
  .social {
    display: flex;
    justify-content: center;
  }
}
