@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Robotocondensed.woff2") format("woff2"), url("../fonts/Robotocondensed.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Robotocondensedbold.woff2") format("woff2"), url("../fonts/Robotocondensedbold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular.woff") format("woff");
}

@font-face {
  font-family: "PTMono";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/PTMono-Regular.woff") format("woff");
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include clear-mp;
  font-family: $ff-base;
  font-size: $fz-base;
  color: $c-text-base;
  background-color: $bg-white;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
