//COLORS (c - color, bg - background, gr - gradient, bc - border-color, sh - shadows)

$c-text-base: #000000;
$c-text-grey: #666666;
$c-text-white: #ffffff;
$c-text-blue: #00b2ff;


$c-link-alt: $c-text-grey;

$bg-white: #ffffff;
$bg-grey: #ebebeb;
$bg-blue: #00b2ff;

$bg-social: rgba(255, 255, 255, 0.8);
$bg-social-hov: rgba(255, 255, 255, 0.98);
$bg-social-act: rgba(255, 255, 255, 0.9);

//TYPE

$ff-base: "Open Sans", "Arial", sans-serif;

//SCREEN
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
