//COLORS (c - color, bg - background, gr - gradient, bc - border-color, sh - shadows)

$c-text-base: #000000;
$c-text-alt: #444444;
$c-text-white: #ffffff;
$c-text-blue: #00b2ff;


$c-link-alt: $c-text-alt;
$c-link-hov-alt: #ffbc9e;
$c-link-act-alt: #ffbc9e;

$bg-white: #ffffff;
$bg-grey: #f1f1f1;
$bg-blue: #00b2ff;
$bg-green-dark: #56c3b2;

$bg-sub-nav-title: #d1d0ce;

$bg-social: rgba(255, 255, 255, 0.8);
$bg-social-hov: rgba(255, 255, 255, 0.98);
$bg-social-act: rgba(255, 255, 255, 0.9);

//TYPE

$ff-base: "Open Sans", "Arial", sans-serif;

$fz-xs: 13px;
$fz-s: 15px;
$fz-base: 17px;
$fz-l: 19px;
$fz-xl: 25px;
$fz-xxl: 27px;

$fw-base: 400;
$fw-medium: 500;
$fw-bold: 700;

//SCREEN
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
